header{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1999999999;
    background-color: white;
    height: 45px;
}

header .conteneur{
	display: flex;
	wrap: nowrap;
	justify-content: space-around;
	height: 45px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    padding-top: 7px;
    align-items: center;
}

header i {
	color: grey;
}

header img{
	height: 45px;
	width: auto;
}

header #search {
width:500px;
height:24px;
background:transparent;
border: 1px solid #e8e8e8;
float: left;
}

.btn-right-loupe {
float: right;
height: 26px;
width: auto;
}

header #search input {
outline:0;
border: 5px;
}

header #search input[type=text] {
display:block;
font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
text-shadow:0 1px white;
float:left;
height:24px;
width:500px;
line-height:25px;
color:#666;
margin:0
}
