<footer>
<div>
	<ul class ="footer1">
		<li><%= image_tag "youtube.jpg" %></li>
		<li><a href ="">Langue:Français</a></li>
		<li><a href ="">Zone géographique du contenu: France</a></li>
		<li><a href ="">Mode restreint: Désactivé</a></li>
		<li><a href ="">Historique</a></li>
		<li><a href ="">Aide</a></li>
	</ul>	
</div>
<div>
	<hr></hr>
</div>
<div>
	<ul class="footer2">
		<li><a href="">Presse</a></li>
		<li><a href="">Droits d'auteur</a></li>
		<li><a href="">Créateurs</a></li>
		<li><a href="">Publicité</a></li>
		<li><a href="">Développeurs</a></li>
		<li><a href="">+YouTube</a></li>
	</ul>
</div>
<div>
	<ul class="footer3">
		<li><a href="">Conditions d'utilisation</a></li>
		<li><a href="">Confidentialité</a></li>
		<li><a href="">Règles et sécurité</a></li>
		<li><a href="">Votre avis</a></li>
		<li><a href="">Tester de nouvelles fonctionnalités</a></li>
	</ul>

</div>
</footer>