<header>
<div class = "conteneur">
	<div class ="element" id="menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
	<div class ="element" id="logo"><%= image_tag "youtube.jpg" %></div>	
	<div class ="element" id="searchbar">
		<form id="search" method="post">
			<input class="search_data" name="saisie" type="text" placeholder="Rechercher..." required />
		</form>	
		<button class="btn-right-loupe" type="submit" value=""><i class="fa fa-search" aria-hidden="true"></i>
		</button>
	</div>	
	<div class ="element" id="upload"><i class="fa fa-upload" aria-hidden="true"></i></div>	
	<div class ="element" id="alert"><i class="fa fa-bell" aria-hidden="true"></i></div>
	<div class ="element" id="user"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
</div>
</header>